@model CodeChallenge.Models.StackOverflowSearchVM
@using CodeChallenge.Helpers

@{
    ViewData["Title"] = "StackOverflow Coding Challenge";
}

<div class="header">
    <h1>StackOverflow Coding Challenge</h1>
    <h2>New Questions</h2>
</div>

<div class="question-container">
    @if (Model.items != null && Model.items.Count() > 0)
    {
        foreach (var item in Model.items)
        {
            <div class="row question-row">
                <div class="col-sm-1"><a class="view-details" data-id="@item.question_id">View</a></div>
                <div class="col-md-8">@Html.Raw(item.title)</div>
                <div class="col-sm-3">@HtmlHelpers.ConvertUnixTime(item.creation_date)</div>
            </div>
            <div id="@item.question_id" data-title="@item.title" data-date="@item.creation_date" class="row question-details">

            </div>
        }
    }
</div>