<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CodingChallenge", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("New Questions", "Index", "Home")</li>
                    <li>@Html.ActionLink("Previous Guesses", "Guesses", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).on("dblclick", ".answer-row", function () {
            var id = $(this).data("question");
            var answer = $(this).attr("id");
            $(".selected-answer").val(false);
            $("#" + answer).find(".selected-answer").val(true);

            $.ajax({
                url: '@Url.Action("SubmitGuess", "Home")',
                type: 'GET',
                data: $("#" + id + "-form").serialize(),
                //data: {
                //    questionID: id,
                //    answerID: answer,
                //    description: $("#" + id).data("title"),
                //    questionDate: $("#" + id).data("date")
                //},
                success: function (result) {
                    $("#" + id).html(result).slideDown();
                }
            })
        })
    </script>
</body>
</html>
